@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

@layer base {
  :root {
    --black-140: 0, 0, 0;

    --neutral-10: 248, 250, 251;
    --neutral-20: 246, 248, 250;
    --neutral-30: 244, 246, 249;
    --neutral-40: 233, 238, 243;
    --neutral-50: 222, 229, 237;
    --neutral-60: 199, 211, 225;
    --neutral-70: 177, 194, 213;
    --neutral-80: 155, 177, 201;
    --neutral-90: 144, 168, 195;
    --neutral-100: 118, 142, 169;
    --neutral-110: 93, 117, 144;
    --neutral-120: 67, 88, 118;
    --neutral-130: 42, 66, 93;
    --neutral-140: 16, 40, 67;
    --neutral-150: 0, 15, 42;

    --primary-10: 255, 242, 229;
    --primary-20: 255, 229, 204;
    --primary-30: 255, 216, 178;
    --primary-40: 255, 203, 153;
    --primary-50: 255, 189, 128;
    --primary-60: 255, 176, 102;
    --primary-70: 255, 163, 76;
    --primary-80: 255, 150, 51;
    --primary-90: 255, 137, 25;
    --primary-100: 255, 124, 0;
    --primary-110: 229, 98, 0;
    --primary-120: 204, 73, 0;
    --primary-130: 178, 47, 0;
    --primary-140: 153, 22, 0;
    --primary-150: 128, 0, 0;

    --pink-10: 252, 236, 241;
    --pink-20: 249, 217, 227;
    --pink-30: 247, 198, 213;
    --pink-40: 244, 179, 199;
    --pink-50: 241, 160, 184;
    --pink-60: 238, 142, 170;
    --pink-70: 235, 123, 156;
    --pink-80: 233, 104, 142;
    --pink-90: 230, 85, 128;
    --pink-100: 227, 66, 114;
    --pink-110: 201, 40, 88;
    --pink-120: 176, 15, 63;
    --pink-130: 112, 0, 12;
    --pink-140: 74, 0, 0;

    --purple-10: 244, 229, 255;
    --purple-20: 233, 204, 255;
    --purple-30: 222, 178, 255;
    --purple-40: 211, 153, 255;
    --purple-50: 199, 128, 255;
    --purple-60: 188, 102, 255;
    --purple-70: 177, 76, 255;
    --purple-80: 166, 51, 255;
    --purple-90: 155, 25, 255;
    --purple-100: 144, 0, 255;
    --purple-110: 118, 0, 229;
    --purple-120: 93, 0, 204;
    --purple-130: 67, 0, 178;
    --purple-140: 42, 0, 153;

    --secondary-10: 241, 241, 241;
    --secondary-20: 236, 236, 236;
    --secondary-30: 231, 231, 231;
    --secondary-40: 208, 208, 208;
    --secondary-50: 184, 184, 184;
    --secondary-60: 160, 160, 160;
    --secondary-70: 136, 136, 136;
    --secondary-80: 113, 113, 113;
    --secondary-90: 89, 89, 89;
    --secondary-100: 65, 65, 65;
    --secondary-110: 42, 42, 42;
    --secondary-120: 27, 27, 27;

    --success-10: 249, 253, 251;
    --success-20: 247, 253, 250;
    --success-30: 245, 252, 249;
    --success-40: 236, 249, 242;
    --success-50: 226, 246, 236;
    --success-60: 207, 240, 223;
    --success-70: 188, 235, 210;
    --success-80: 169, 229, 197;
    --success-90: 159, 226, 191;
    --success-100: 133, 200, 165;
    --success-120: 82, 149, 114;
    --success-130: 57, 124, 89;
    --success-140: 31, 98, 63;
    --success-150: 6, 73, 38;
    --success-160: 0, 47, 12;

    --critical-10: 254, 246, 246;
    --critical-20: 254, 242, 241;
    --critical-30: 253, 236, 235;
    --critical-40: 251, 217, 215;
    --critical-50: 250, 199, 195;
    --critical-60: 246, 161, 155;
    --critical-70: 242, 123, 115;
    --critical-80: 255, 76, 86;
    --critical-90: 237, 67, 55;
    --critical-100: 255, 25, 37;
    --critical-110: 186, 16, 4;
    --critical-120: 229, 0, 0;
    --critical-130: 135, 0, 0;
    --critical-150: 84, 0, 0;
    --critical-160: 58, 0, 0;

    --transparent-black-10: 33, 33, 33, 0.1;
    --transparent-black-15: 33, 33, 33, 0.15;
    --transparent-black-20: 33, 33, 33, 0.2;
    --transparent-black-25: 33, 33, 33, 0.25;
    --transparent-black-30: 33, 33, 33, 0.3;
    --transparent-black-35: 33, 33, 33, 0.35;
    --transparent-black-40: 33, 33, 33, 0.4;
    --transparent-black-45: 33, 33, 33, 0.45;
    --transparent-black-5: 33, 33, 33, 0.05;
    --transparent-black-50: 33, 33, 33, 0.5;
    --transparent-black-55: 33, 33, 33, 0.55;
    --transparent-black-60: 33, 33, 33, 0.6;
    --transparent-black-65: 33, 33, 33, 0.65;
    --transparent-black-70: 33, 33, 33, 0.7;
    --transparent-black-75: 33, 33, 33, 0.75;

    --transparent-white-10: 255, 255, 255, 0.1;
    --transparent-white-15: 255, 255, 255, 0.15;
    --transparent-white-20: 255, 255, 255, 0.2;
    --transparent-white-25: 255, 255, 255, 0.25;
    --transparent-white-30: 255, 255, 255, 0.3;
    --transparent-white-35: 255, 255, 255, 0.35;
    --transparent-white-40: 255, 255, 255, 0.4;
    --transparent-white-45: 255, 255, 255, 0.45;
    --transparent-white-50: 255, 255, 255, 0.5;
    --transparent-white-55: 255, 255, 255, 0.55;
    --transparent-white-60: 255, 255, 255, 0.6;
    --transparent-white-65: 255, 255, 255, 0.65;
    --transparent-white-70: 255, 255, 255, 0.7;

    --font-lilita-one: "Lilita One", sans-serif;
  }
}

@font-face {
  font-family: "Lilita-One";
  src: url("../fonts/LilitaOne-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Axiforma-SemiBold";
  src: url("../fonts/Axiforma-SemiBold.eot");
  src:
    local("Axiforma SemiBold"),
    local("Axiforma-SemiBold"),
    url("../fonts/Axiforma-SemiBold.woff2") format("woff2"),
    url("../fonts/Axiforma-SemiBold.woff") format("woff"),
    url("../fonts/Axiforma-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma-Thin";
  src: url("../fonts/Axiforma-Thin.eot");
  src:
    local("Axiforma Thin"),
    local("Axiforma-Thin"),
    url("../fonts/Axiforma-Thin.woff2") format("woff2"),
    url("../fonts/Axiforma-Thin.woff") format("woff"),
    url("../fonts/Axiforma-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma";
  src: url("../fonts/Axiforma-Regular.eot");
  src:
    local("Axiforma Regular"),
    local("Axiforma-Regular"),
    url("../fonts/Axiforma-Regular.woff2") format("woff2"),
    url("../fonts/Axiforma-Regular.woff") format("woff"),
    url("../fonts/Axiforma-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma-MediumItalic";
  src: url("../fonts/Axiforma-MediumItalic.eot");
  src:
    local("Axiforma Medium Italic"),
    local("Axiforma-MediumItalic"),
    url("../fonts/Axiforma-MediumItalic.woff2") format("woff2"),
    url("../fonts/Axiforma-MediumItalic.woff") format("woff"),
    url("../fonts/Axiforma-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Axiforma-Black";
  src:
    local("Axiforma Black"),
    local("Axiforma-Black"),
    url("../fonts/Axiforma-Black.woff2") format("woff2"),
    url("../fonts/Axiforma-Black.woff") format("woff"),
    url("../fonts/Axiforma-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma-BlackItalic";
  src: url("../fonts/Axiforma-BlackItalic.eot");
  src:
    local("Axiforma Black Italic"),
    local("Axiforma-BlackItalic"),
    url("../fonts/Axiforma-BlackItalic.woff2") format("woff2"),
    url("../fonts/Axiforma-BlackItalic.woff") format("woff"),
    url("../fonts/Axiforma-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Axiforma-Heavy";
  src: url("../fonts/Axiforma-Heavy.eot");
  src:
    local("Axiforma Heavy"),
    local("Axiforma-Heavy"),
    url("../fonts/Axiforma-Heavy.woff2") format("woff2"),
    url("../fonts/Axiforma-Heavy.woff") format("woff"),
    url("../fonts/Axiforma-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma-Medium";
  src:
    local("Axiforma Medium"),
    local("Axiforma-Medium"),
    url("../fonts/Axiforma-Medium.woff2") format("woff2"),
    url("../fonts/Axiforma-Medium.woff") format("woff"),
    url("../fonts/Axiforma-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma-BoldItalic";
  src: url("../fonts/Axiforma-BoldItalic.eot");
  src:
    local("Axiforma Bold Italic"),
    local("Axiforma-BoldItalic"),
    url("../fonts/Axiforma-BoldItalic.woff2") format("woff2"),
    url("../fonts/Axiforma-BoldItalic.woff") format("woff"),
    url("../fonts/Axiforma-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Axiforma-ExtraBoldItalic";
  src: url("../fonts/Axiforma-ExtraBoldItalic.eot");
  src:
    local("Axiforma ExtraBold Italic"),
    local("Axiforma-ExtraBoldItalic"),
    url("../fonts/Axiforma-ExtraBoldItalic.woff2") format("woff2"),
    url("../fonts/Axiforma-ExtraBoldItalic.woff") format("woff"),
    url("../fonts/Axiforma-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Axiforma-Book";
  src: url("../fonts/Axiforma-Book.eot");
  src:
    local("Axiforma Book"),
    local("Axiforma-Book"),
    url("../fonts/Axiforma-Book.woff2") format("woff2"),
    url("../fonts/Axiforma-Book.woff") format("woff"),
    url("../fonts/Axiforma-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma-Light";
  src: url("../fonts/Axiforma-Light.eot");
  src:
    local("Axiforma Light"),
    local("Axiforma-Light"),
    url("../fonts/Axiforma-Light.woff2") format("woff2"),
    url("../fonts/Axiforma-Light.woff") format("woff"),
    url("../fonts/Axiforma-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma-ThinItalic";
  src:
    local("Axiforma Thin Italic"),
    local("Axiforma-ThinItalic"),
    url("../fonts/Axiforma-ThinItalic.woff2") format("woff2"),
    url("../fonts/Axiforma-ThinItalic.woff") format("woff"),
    url("../fonts/Axiforma-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Axiforma-Bold";
  src: url("../fonts/Axiforma-Bold.eot");
  src:
    local("Axiforma Bold"),
    local("Axiforma-Bold"),
    url("../fonts/Axiforma-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Axiforma-Bold.woff2") format("woff2"),
    url("../fonts/Axiforma-Bold.woff") format("woff"),
    url("../fonts/Axiforma-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma-LightItalic";
  src: url("../fonts/Axiforma-LightItalic.eot");
  src:
    local("Axiforma Light Italic"),
    local("Axiforma-LightItalic"),
    url("../fonts/Axiforma-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Axiforma-LightItalic.woff2") format("woff2"),
    url("../fonts/Axiforma-LightItalic.woff") format("woff"),
    url("../fonts/Axiforma-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Axiforma-SemiBoldItalic";
  src:
    local("Axiforma SemiBold Italic"),
    local("Axiforma-SemiBoldItalic"),
    url("../fonts/Axiforma-SemiBoldItalic.woff2") format("woff2"),
    url("../fonts/Axiforma-SemiBoldItalic.woff") format("woff"),
    url("../fonts/Axiforma-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Axiforma-Italic";
  src:
    local("Axiforma Italic"),
    local("Axiforma-Italic"),
    url("../fonts/Axiforma-Italic.woff2") format("woff2"),
    url("../fonts/Axiforma-Italic.woff") format("woff"),
    url("../fonts/Axiforma-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Axiforma-BookItalic";
  src:
    local("Axiforma Book Italic"),
    local("Axiforma-BookItalic"),
    url("../fonts/Axiforma-BookItalic.woff2") format("woff2"),
    url("../fonts/Axiforma-BookItalic.woff") format("woff"),
    url("../fonts/Axiforma-BookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Axiforma-ExtraBold";
  src:
    local("Axiforma ExtraBold"),
    local("Axiforma-ExtraBold"),
    url("../fonts/Axiforma-ExtraBold.woff2") format("woff2"),
    url("../fonts/Axiforma-ExtraBold.woff") format("woff"),
    url("../fonts/Axiforma-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma-HeavyItalic";
  src:
    local("Axiforma Heavy Italic"),
    local("Axiforma-HeavyItalic"),
    url("../fonts/Axiforma-HeavyItalic.woff2") format("woff2"),
    url("../fonts/Axiforma-HeavyItalic.woff") format("woff"),
    url("../fonts/Axiforma-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

#nprogress .bar {
  background: linear-gradient(90deg, #fff0bf, #f85318) !important;
  box-shadow: 10px 0px 20px rgba(255, 240, 191, 0.641) !important;
  position: fixed;
  z-index: 99999999 !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px !important;
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

[data-placeholder="true"] {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.129) 50%,
    rgba(7, 7, 7, 0) 100%
  );
  background-size: cover;
  transform: translateX(-120%);

  animation: shimmer 1s ease-in-out infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-120%);
  }

  50% {
    transform: translateX(-120%);
  }

  100% {
    transform: translateX(100%);
  }
}

.spinner_V8m1 {
  transform-origin: center;
  animation: spinner_zKoa 2s linear infinite;
}

.spinner_V8m1 circle {
  stroke-linecap: round;
  animation: spinner_YpZS 1.5s ease-in-out infinite;
}

@keyframes spinner_zKoa {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner_YpZS {
  0% {
    stroke-dasharray: 0 150;
    stroke-dashoffset: 0;
  }

  47.5% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -16;
  }

  95%,
  100% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -59;
  }
}

.show_scrollbar::-webkit-scrollbar {
  height: 8px;
}

.show_scrollbar ::-webkit-scrollbar-thumb {
  border-radius: 12px;
}

.hide_scrollbar::-webkit-scrollbar {
  height: 0.1px;
  width: 0.1px;
}

/* Custom Scrollbar Styling */
/* For Webkit Browsers */
::-webkit-scrollbar {
  width: 14px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-100;
  border: 4px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-100;
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 0%, 0.06);
  /* Color of the track */
  border-radius: 10px;
  /* Rounded corners of the track */
}

/* For Firefox */
.html {
  @apply bg-primary-100;
  scrollbar-width: thin;
  /* Options are 'auto', 'thin', 'none' */
}

/* For Internet Explorer and Legacy Edge */
body {
  -ms-overflow-style: scrollbar;
  /* Standard scrollbar */
}

/* Gradient color */
.gradient-text {
  background-image: linear-gradient(
    271.34deg,
    rgba(169, 109, 246, 0.8) -0.38%,
    #d06d27 100.78%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 48px;
  line-height: 48px;
  text-transform: capitalize;
}
